:root {
  --main-background-color: #b4e4ff4a;
  --secondary-background-color: #42a5f58a;
  --main-head-text-color: #0a0d30;
  --main-text-color: #ffffff;
}
/* ////////////////////////// */
/* Start Components */
.btn-group .btn {
  color: #f8e4be;
  border-color: #e0a872;
}

.btn-group .btn:hover {
  color: #f8e4be;
  background-color: transparent;
  backdrop-filter: blur(5px);
  font-size: 23px;
}

/* End Components */
/* ////////////////////////// */

.bg-image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 115vh;
  /* z-index: -10; */
  top: 0;
  left: 0;
}
.navbar {
  background-color: transparent;
  position: fixed;
}

.navbar .container-fluid a img {
  width: 4rem;
}

.navbar .container-fluid a {
  color: #fff8e8;
}

.navbar .container-fluid a:hover {
  color: #ffffff;
}

#Download-image {
  width: 2rem;
}
@media (max-width: 992px) {
  .navbar .navbar-toggler {
    border-color: var(--main-text-color);
    background-color: var(--main-background-color);
    backdrop-filter: blur(2px);
  }

  .navbar .collapse {
    padding: 1rem;
    background-color: var(--main-background-color);
    backdrop-filter: blur(2px);
  }
}
/* End navbar */
/* ////////////////////////// */
/* Start landing */

.landing .text-container {
  padding: 25px 0;
  backdrop-filter: blur(2px);
  /* top: 32%; */
}

.landing #My-name {
  font-family: "Dancing Script", cursive;
  color: var(--main-head-text-color);
  font-weight: bold;
  font-size: 100px;
  color: #54372b;
}

.landing p {
  color: #dabb9e;
}

.landing .side-social .mail-icon {
  color: var(--main-text-color);
  width: 2rem;
  padding: 1rem 0;
}

/* End landing */
/* ////////////////////////// */
/* Start-Components */
.Components h2 {
  color: var(--main-head-text-color);
}

/* End-Components */
/* js */
/* #Visitor_Info{
  position: absolute;
  top: 80%;
  left: 2%;

}
#Visitor_Info li {
  color: #54372B;
} */

#Visitor_Info {
  position: absolute;
  top: 80%;
  left: 2%;
}

#Visitor_Info input {
  margin-bottom: 0.5rem;
  background-color: #54372b8c;
  border: #54372b8c;
  border-radius: 10px;
  text-align: center;
  color: #dabb9e;
}

#Visitor_Info input:last-child{
  width: 60%;
  margin-left: 20%;
}

#Visitor_Info label {
  color: #dabb9e;
}
::placeholder {
  color: #dabb9e8b;
}

#User_Info {
  border-radius: 20px;
  text-align: center;
  z-index: 5;
  width: 30%;
  height: 10rem;
  background-color: #54372b8c;
  backdrop-filter: blur(3px);
  margin-left: 5%;
  overflow-y:auto;
  color: #dabb9e;
}

/* js */
